<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>All Words</title>
  <meta name="showing all words from database" content="words">
  <meta name="Sukhdev Singh" content="singhsukhdev1415@gmail.com">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="{% static 'words/style_words.css' %}"/>
  <script src = "{% static 'words/script.js' %}"></script>
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'words/images/favicon.ico' %}" />
</head>

<body>
  <div class="block-container">
    <div class = 'my-header text-center'>
    <a href="#" style="color: black;text-decoration: none;">
    Words
    </a>
    </div>
  </div> 
  <div class='nav-div'>
    <ul class="nav-bar">
      {% if not disable_new_quote or home %}
        <a href="{% url 'words:new_quote_page' %}" class = "nav-list-link"><li class = "nav-list-item move-left">Quote</li></a>
      {% endif %}
      {% if not disable_new_reading or home %}
        <a href="{% url 'words:new_reading_page' %}" class = "nav-list-link"><li class = "nav-list-item move-left">Reading</li></a>
      {% endif %}
      {% if not disable_new_word or home %}
      <a href="{% url 'words:new_word_page' %}" class = "nav-list-link"><li class = "nav-list-item move-left">Word</li></a>
      {% endif %}
      <!-- {% if not quotes %}
      <a href="#" class = "nav-list-link"><li class = "nav-list-item move-left">Quotes</li></a>
      {% endif %} -->
      <!-- {% if not readings %}
      <a href="#" class = "nav-list-link"><li class = "nav-list-item move-left">Readings..</li></a>
      {% endif %} -->
      <div class = "nav-list-link">
          
          <form action="{% url 'words:search' %}" enctype="multipart/form-data" method="POST" >
            <a class="nav-list-link">
            {%csrf_token%}
            <li class ="nav-list-item move-left">
              <input type="text" class="form-control" id="id" placeholder="Search.." name="search_field">
            </li>
            </a>
            <a class="nav-list-link">
            <li class ="nav-list-item move-left">
              <button type="submit" class="btn btn-default" value="submit">Search</button>
            </li>
            </a>
       </form>
          {% if not home %}
            <a href="{% url 'words:main_page' %}" class = "nav-list-link"><li class = "nav-list-item move-right">Home</li></a>
          {% endif %}
          {% if not words %}
            <a href="{% url 'words:all_words_page' %}" class = "nav-list-link"><li class = "nav-list-item move-right">All Words</li></a>
          {% endif %}
          {% if not reading %}
          <a href="{% url 'words:all_readings_page' %}" class = "nav-list-link"><li class = "nav-list-item move-right">Readings</li></a>
          {% endif %}
          {% if not quotes %}
            <a href="{% url 'words:all_quotes_page' %}" class = "nav-list-link"><li class = "nav-list-item move-right">Quotes</li></a>
          {% endif %}
      
      </div>
    </ul>
  </div>

  
  {% if page_header %}
    <div class="page-header text-center">
      <h1>{{ page_header }}</h1>
    </div>
  {% endif %}

  {% if show_message %}
    <div class="text-center" style="background-color: black;color:white;padding: 5px;">
      {{message}}
    </div>
    <div style="background-color: white;width: 100%;height: 10px;"></div>
  {% endif %}

  <div class="container">
    <div class="form-group">
    <form action="{% url 'words:passage-words-page' %}" enctype="multipart/form-data" method="POST" >
    {%csrf_token%}
      <textarea name="passage" id="passage" class="form-control" placeholder="Passage"></textarea>
      <button type="submit" class="btn btn-default" value="submit" style="width:100%;">Submit</button>
    </form>
    </div>
  </div>


</body>
</html>