<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>All Words</title>
  <meta name="showing all words from database" content="words">
  <meta name="Sukhdev Singh" content="singhsukhdev1415@gmail.com">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'words/style_words.css' %}">
  <script src = "{% static 'words/script.js' %}"></script>

</head>

<body>
  <div class="block-container">
    <div class = 'my-header text-center'>
    <a href="{% url 'words:main' %}" style="color: black;text-decoration: none;">
    Words
    </a>
    </div>
  </div> 
  <div class='nav-div'>
    <ul class="nav-bar">
      {% if quotes %}
        <a href="#" class = "nav-list-link"><li class = "nav-list-item move-left">New</li></a>
      {% endif %}
      {% if words %}
        <a href="{% url 'words:save_word_page' %}" class = "nav-list-link"><li class = "nav-list-item move-left">New</li></a>
      {% endif %}
      {% if readings %}
        <a href="{% url 'words:save_reading_page' %}" class = "nav-list-link"><li class = "nav-list-item move-left">New</li></a>
      {% endif %}
      {% if not words %}
      <a href="{% url 'words:save_word_page' %}" class = "nav-list-link"><li class = "nav-list-item move-left">Add</li></a>
      {% endif %}
      <!-- {% if not quotes %}
      <a href="#" class = "nav-list-link"><li class = "nav-list-item move-left">Quotes</li></a>
      {% endif %} -->
      <!-- {% if not readings %}
      <a href="#" class = "nav-list-link"><li class = "nav-list-item move-left">Readings..</li></a>
      {% endif %} -->
      <div class = "nav-list-link">
          
          <form action="{% url 'words:search' %}" enctype="multipart/form-data" method="POST" >
            <a class="nav-list-link">
            {%csrf_token%}
            <li class ="nav-list-item move-left">
              <input type="text" class="form-control" id="id" placeholder="Search.." name="search_field">
            </li>
            </a>
            <a class="nav-list-link">
            <li class ="nav-list-item move-left">
              <button type="submit" class="btn btn-default" value="submit">Search</button>
            </li>
            </a>
       </form>
          {% if home %}
            <a href="{% url 'words:show_all_words' %}" class = "nav-list-link"><li class = "nav-list-item move-right">All Words</li></a>
          {% else %}
            <a href="{% url 'words:main' %}" class = "nav-list-link"><li class = "nav-list-item move-right">Home</li></a>
          {% endif %}
      
      </div>
    </ul>
  </div>

  
    <div class="page-header text-center">
    {% if home %}
      <h1>Random 10 Words</h1>
    {% else %}
      <h1>All Words</h1>      
    {% endif %}
    </div>

  {% if show_message %}
    <div class="text-center" style="background-color: black;color:white;padding: 5px;">
      {{message}}
    </div>
    <div style="background-color: white;width: 100%;height: 10px;"></div>
  {% endif %}
  <div class="text-center container">
    {% for word in list %}
  	<div class = "container">
      <div class = "item_temp">
        <h1>{{ word.word }}</h1>
          <p class="title">{{ word.hindi }}</p>
          <p class="title">{{ word.punjabi }}</p>
          <p class="title">{{ word.meaning }}</p>
          <p class = "word_sentence" id = "{{word.word}}">{{ word.sentence }}</p>
          <a class = "item_link" href = "#">
            <button class = "item_link" onclick="myFunc('#{{word.word}}')">Sentence</button>
          </a>
          {% if not home %}
          <a class = "item_link" href = "{% url 'words:edit_word' word=word.word %}">
            <button class="item_link">Edit</button>
          </a>
          {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  
  <div style="background-color: white;text-align: center;color:white;height: 50px;"></div>
</body>
</html>